.metronome {
    text-align: center;
    max-width: 375px;
    margin: 0 auto;
    padding: 30px;
  }
  
  .bpm-slider input {
    width: 100%;
    margin: auto;
  }
  
  .metronome button {
    background: #00492d;
    padding: 10px;
    border: none;
    outline:none;
    border-radius: 50px;
    width: 100px;
    height:100px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    cursor:pointer;
  }